body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
  background-image: url("C:\Users\Tyler\Documents\Github\react-project\src\images\channel pfp-01.png");
  background-position-x: center;
  background-position-y: 180px;
  background-size: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}
h1 {
  font-family: "Bauhaus 93"
}
